<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Movie site</h1>

  <form method="POST" action="/searchmovie">
    <p>Movie Name: <input type="text", name="moviename"> <input type="submit" value="search"></p>
  </form>

  <form method="POST" action="/searchDirector">
    <p>Director/Actor Name: <input type="text", name="Directorname"> <input type="submit" value="search"></p>
  </form>

<p><a href="another">Go to the other page</a></p>


</body>


</html>
