<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Movie site</h1>
  <h2>Search Area</h2>

  <form method="POST" action="/searchmovie">
    <p>Movie Name: <input type="text", name="moviename"> <input type="submit" value="search"></p>
  </form>

  <form method="POST" action="/searchDirector">
    <p>Director Name: <input type="text", name="Directorname"> <input type="submit" value="search"></p>
  </form>

  <form method="POST" action="/searchActor">
    <p>Actor Name: <input type="text", name="Actorname"> <input type="submit" value="search"></p>
  </form>

  <form method="POST" action="/chooseArea">
    <p> Area:
      <input type="radio" name="area" value="Asia"> Asia
      <input type="radio" name="area" value="North America"> North America
      <input type="radio" name="area" value="South America"> South America
      <input type="radio" name="area" value="Europe"> Europe
      <input type="radio" name="area" value="Africa"> Africa
      <input type="radio" name="area" value="Oceania"> Oceania
      <input type="submit" value="choose">
    </p>
  </form>

  <form method="POST" action="/chooseGenre">
    <p>Genre:
      <select name="genre">
        <option value="IMAX">IMAX</option>
        <option value="Comedy">Comedy</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Drama">Drama</option>
        <option value="Horror">Horror</option>
        <option value="Thriller">Thriller</option>
        <option value="Film-Noir">Film-Noir</option>
        <option value="Crime">Crime</option>
        <option value="Western">Western</option>
        <option value="War">War</option>
        <option value="Musical">Musical</option>
        <option value="Shortß">Shortß</option>
        <option value="Children">Children</option>
        <option value="Adventure">Adventure</option>
        <option value="Sci-Fi">Sci-Fi</option>
        <option value="Action">Action</option>
        <option value="Documentary">Documentary</option>
        <option value="Romance">Romance</option>
        <option value="Animation">Animation</option>
        <option value="Mystery">Mystery</option>
      </select>
      <input type="submit" value="choose">
    </p>
  </form>

<h2>Recommendation area:</h2>
<form method="POST", action="/recommend">
  <p> Your user ID:<input type="text" name="userid"> </p>
  <p> Recommend by:
    <select name="method">
      <option value="age">age</option>
      <option value="gender">gender</option>
      <option value="occupation">occupation</option>
    </select>
  </p>
  <input type="submit" value="recommend">
</form>
<br></br>

<h2>Sign Up:</h2>
<form method="POST", action="/signup">
  <p> User ID:
    <input type="text" name="newid" placeholder="Please input a number">
    Gender:
    <select name="gender">
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
    Age:
    <input type="text" name="age" placeholder="Please input a number">
    Occupation:
    <input type="text" name="job" placeholder="Your occupation">
  </p>

  <input type="submit" value="signup">
</form>

</body>


</html>
